# Final Test

Answer the following questions.

1.) Write a function that calculates the surface area of cylinder which can be *hollow or solid*.
    
    cylinder_area(2,4,True)  --> 75.36
    cylinder_area(2,4,False) --> 50.24

   $$A = 2\pi rh + 2\pi r^2  (solid)$$

   $$A = 2\pi rh (hollow)$$

In [1]:
def cylinder_area(radius,height,top_and_btm):
    side_area = height * 6.28 * radius
    # if solid
    if top_and_btm:
        top_area = 3.14 * radius ** 2
        return 2 * top_area + side_area
    # if hollow
    else:
        return side_area

In [2]:
# Check
cylinder_area(2,4,True)

75.36

In [3]:
# Check
cylinder_area(2,4,False)

50.24

2.) Write a Python function that checks whether a number is in a given range() (*inclusive of high and low*)

        num_check(4,2,4)  --> '4 is between 2 and 4'
        num_check(10,3,9) --> 'Not in the range'

In [1]:
def num_check(num,low,high):
    if num in range(low,high+1):
        return str(num) + ' is between %s and %s' %(low,high)
    else:
        return 'Not in the range'

In [2]:
# Check
num_check(4,2,4)

'4 is between 2 and 4'

In [9]:
# Check
num_check(10,3,9)

'Not in the range'

If you only want a boolean output of the function:

    num_bool(5,1,10) --> True

In [10]:
def num_bool(num,low,high):
    return num in range(low,high+1)

In [11]:
# Check
num_bool(5,1,10)

True

3.) Write a program that takes one argument, an integer *days* and returns a string that says how many weeks and days that is.

    weeks_days(34) --> '4 week(s) and 6 day(s)'

In [12]:
def weeks_days(days):
    weeks = days // 7
    remainder = days % 7
    return '{} week(s) and {} day(s)'.format(weeks,remainder)

In [13]:
# Check
weeks_days(34)

'4 week(s) and 6 day(s)'

4.) Write a function that accepts a string and computes the number of upper case letters and lower case letters.
        
   up_low('Nang, have you watched this movie, The Avengers: Infinity War?') -->     
   
       No. of upper case letters : 5
       No. of lower case letters : 44

In [1]:
def up_low(string):
    x = 0
    y = 0
    for letter in string:
        if letter.isupper():
            x += 1
        elif letter.islower():
            y += 1
        else:
            pass
    print('No. of upper case letters :',x)
    print('No. of lower case letters :',y)

In [2]:
# Check
up_low('Nang, have you watched this movie, The Avengers: Infinity War?')

No. of upper case letters : 5
No. of lower case letters : 44

5.) Write a function that multiplies all the numbers in a list.

    result([4,2,2,7]) --> 112

In [17]:
def result(lst):
    total = 1
    for i in lst:
        total *= i
    return total

In [18]:
# Check
result([4,2,2,7])

112

6.) Write a function that accepts a comma-separated sequence of words and prints the words in a hyphen-separated sequence after sorting them alphabetically.

    hyphen_words('orange,apple,banana,durian,mango') --> apple-banana-durian-mango-orange

In [72]:
def hyphen_words(phrase):
    x =phrase.split(',')
    x.sort()
    print('-'.join(x))

In [73]:
# Check
hyphen_words('orange,apple,banana,durian,mango')

apple-banana-durian-mango-orange

7.) Write a Python function that takes a list and returns a new list with unique elements of the first list.

    unique_list([1,1,1,1,2,2,3,3,3,3,4,5]) --> [1,2,3,4,5]

In [85]:
def unique_list(lst):
    # Also possible to use list(set())
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [86]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

### Nicely Done!