# Final Test

**Answer the following questions**

1.) Solve the following problems and give your answers in the cells below.

Calulate the Area of the circle using the data below.

In [29]:
diameter = 3
pi = 3.14
# Find the area

Area = (pi * diameter**2)/4
Area

7.065

Print the string backwards.

In [19]:
s = 'Hello my old friend'
# Print the string backwards

s[::-1]

'dneirf dlo ym olleH'

Group the elements whenever it meets 's'.

In [20]:
s = 'This is  my first time singing on the stage in front of many people'
# Split by s

s.split('s')

['Thi',
 ' i',
 '  my fir',
 't time ',
 'inging on the ',
 'tage in front of many people']

2.) Perform the following tasks and enter your codes in the cells below.

Grab the elements from 5 to 'perfect' in the following list.

In [21]:
lst1 = [1,4,['3',5,7,'perfect','piano']]
# Grab from 5 to 'perfect'

lst1[2][1:4]

[5, 7, 'perfect']

Reassign 'kophyo' in this nested list to 'komoe' instead.

In [28]:
lst2 = ['nothing', 0,[1,2,'kophyo']]
# Replace 'kophyo' with 'komoe'

lst2[2][2] = 'komoe'
lst2

['nothing', 0, [1, 2, 'komoe']]

Grab the elements '14', 'cool' and 'guitar' *at the same time*.

In [24]:
lst3 = ['start',3,5,'14',7,'cool',16,'guitar','end',8]
# Grab '14','cool' and 'guitar' simultaneously

lst3[3:8:2]

['14', 'cool', 'guitar']

Sort the list below.

In [30]:
lst4 = ['zebra','monkey','elephant','cat','dog']
# Sort the list

lst4.sort()
lst4

['cat', 'dog', 'elephant', 'monkey', 'zebra']

3.) Follow the instructions and enter your codes in the cells below.

Design your own dictionary in two separate ways.

In [31]:
# Method 1
d = {'k1':'boy', 'k2':'girl'}
d

{'k1': 'boy', 'k2': 'girl'}

In [34]:
# Method 2
d = {}
d['k1']= 'boy'
d['k2']= 'girl'
d

{'k1': 'boy', 'k2': 'girl'}

Using keys and indexing, grab 'Arigato' from the following dictionaries.

In [37]:
d = {'key1': {'key2':'Arigato'}}
# Grab 'Arigato'

d['key1']['key2']

'Arigato'

In [36]:
d = { 'key1': [{'nest_key' : [2,'Arigato', 10]}]}
# Grab 'Arigato'          

d['key1'][0]['nest_key'][1]

'Arigato'

In [41]:
d = {'key1': [3,4,{ 10 :[3,{'Thanks':'Arigato'}]}]}
# Grab 'Arigato'

d['key1'][2][10][1]['Thanks']

'Arigato'

4.) What is the major difference between tuples and lists?

    Ans: Tuples are immutable whereas lists arer not

Count '1' in the following tuple.

In [43]:
t = (1, 'two', [0,2,5], 1, True )
# Count the element 1

t.count(1)

3

5.) What is unique about a set?

    Ans: They don't allow for duplicate items

Ensure the following list to be unique.

In [44]:
list1 = [ 1,3,1,2,4,3,11,24,3,11]
# Make the list unique

set(list1)

{1, 2, 3, 4, 11, 24}

## Great job on your Final Test!